.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #575757;
  color: white;
}

.whiteFont {
  color: white;
}

.poketable {
  display: "flex";
  width: "50%";
  align-items: "center";
}
.nav-link {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

h1,h2,h3,h4 {
  color: white;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.App-link {
  color: #09d3ac;
}
